*, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
.title{
    color: rgb(0, 114, 9);display: inline-block; margin-top: 0em;
}
a{
    text-decoration: none;
}
header{
    background-color: blanchedalmond;
}
#navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#navigation li{
    background: rgba( 188, 188, 188, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    display: inline-block; 
    margin: 0 1em; 
    padding: 0.5em;  
    /* background-color: rgb(0, 114, 9); */
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
    

}
