.title{
    color: rgb(0, 114, 9);display: inline-block; margin-top: 0em;
}
a{
    text-decoration: none;
}
header{
    background-color: blanchedalmond;
}
#navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#navigation li{
    display: inline-block;
    margin: 0 1em;
    padding: 0.5em;
    background-color: rgb(0, 114, 9);
    border-radius: 1em;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
    

}
