*{padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{font-family: 'ZCOOL QingKe HuangYou', sans-serif;}
#backgrounds{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
}

header {
  position: fixed;
  top: 1.1em;
  left: 2.9em;
  width: 95%;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.902);
  padding:0 8.7em;
  border-radius: 80px;
}
nav{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pic{

  width: 80%;
  height: 90vh;
  margin: 20px auto;
  background-image: url(../wp1809274-hunter-hunter-wallpapers.jpg);
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
}
/* .fondo{
    z-index: 10;
    width: 80%;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    position: absolute;
    top: 0;
    left: 0;
} */
/* nav {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header{
  background-color: rgba(0, 0, 0, 0.925);
  width: 100%;
  height: 130px;
  z-index: 52;
} */
/* 
.navigation-header {
  padding: 0 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index:50 ;
  top: 0;
  left: 0;
} */
.logo-container > a > img {
  left: 0;
  width: auto;
  height: 70px;
  transition: .5s ease-in-out;
  }
  .logo-container > a >img:hover{
    width: auto;
    height: 75px;
  }
.navigation-items {
  display: flex;
  gap: 2rem;
}
.navigation-items > a.ancla_header {
/* Animación y modificación del estilo de las anclas */
  color: white;
  text-decoration: none;
  font-size: 26px;
  font-family: 'ZCOOL QingKe HuangYou', sans-serif;
}
.navigation-items > a.ancla_header::before{
    margin-left: auto;
}
.navigation-items > a.ancla_header::after, a.ancla_header::before {
  content: '';
  width: 0%;
  height:3px;
  background: #009708;
  display: block;
  transition: 0.5s;
}
.navigation-items > a.ancla_header:hover::after, a.ancla_header:hover::before {
  width: 100%;
} 
.solid_section{
  text-align: center;
  background-color: rgb(27, 27, 27);
  height: 50em;
  width: 90%;
  border-radius: 10px;
  /* z-index:1; */
  /* border-radius: 10px */
  margin: 5em auto;
}
.testing > h1, h2{
  color: rgb(0, 0, 0);
  font-size: 4rem;
}
.black_div{
  background-color: rgba(0, 0, 0, 0.644);
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 200px;
}
.card{
  width: 320px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  border: 8px solid #fff;
  position: relative;
}

.card-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.card-body{
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: #1f3d4738;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 2s;
}

.card:hover .card-body{
  right: 0;
}

.card-title{
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 500;
}

.card-sub-title{
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 300;
}

.card-info{
  font-size: 16px;
  line-height: 25px;
  margin: 40px 0;
  font-weight: 400;
}

.card-btn{
  color: #1f3d47;
  background: #8fabba;
  padding: 10px 20px;
  width: 120px;
  border-radius: 5px;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-weight: 500;
  cursor: pointer;
}